#product1
{
    text-align: center;
}

#product1 .pro-container
{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

@media screen and (max-width:799px){
    #product1 .pro-container {
        justify-content: center;
    }
}